.wrapper {
    display: flex;
    justify-content: space-between;

    background-color: white;

    padding: 20px 15px;
    border-radius: 3px;
  }
  
  .section {
    display: grid;
    gap: 4px;
  }
  
  .title {
    margin: 0;
    padding-bottom: 5px;
    font-size: 22px;
    text-transform: uppercase;

    color: rgb(39, 21, 6);
  }
  