.wrapper {
    display: flex;
    justify-content: space-between;

    background-color: white;
  }
  
  .section {
    display: grid;
    gap: 4px;
  }
  
  .title {
    margin: 0;
    font-size: 16px;
  }
  