.btn {
    display: inline-flex;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: #e2e5e8;
    color: inherit;

    transition: background-color 250ms ease-in,
    color 250ms ease-in;
  }
  
  .btn.isSelected {
    background-color: var(--active-color);
    color: #fff;
  }
  
  .btn:hover {
    background-color: var(--active-color);
    color: #fff;
  }
  
  .btn:active {
    background-color: var(--active-color);
    color: #fff;
  }