.container {
    display: grid;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;

    background: linear-gradient(0deg, rgba(23,8,1,0.5998774509803921) 0%, rgba(255,255,255,0.6026785714285714) 100%);
  }