.container {
    display: grid;
    gap: 16px;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;

    background: linear-gradient(0deg, rgba(36, 2, 59, 0.6) 0%, rgba(232, 213, 255, 0.5) 100%);
  }